html{
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.btn-category{
    display: flex;
}

.padre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background: #F8F8F8;
}

.container-login{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    background: white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.container-date{
    display: flex;
    flex-direction: column;
    background: rgba(216, 245, 253, 0.869);
    padding: 30px;
    gap: 20px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.container-login-data{
    display: flex;
flex-direction: column;
gap: 10px;
}

.data-login{
    display: flex;
    gap: 10px;
    align-items: center;
}

.center{
    text-align: center;
}

