html{
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.btn-category{
    display: flex;
}

.padre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background: #F8F8F8;
}

.container-login{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    background: white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.container-date{
    display: flex;
    flex-direction: column;
    background: rgba(216, 245, 253, 0.869);
    padding: 30px;
    gap: 20px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.container-login-data{
    display: flex;
flex-direction: column;
gap: 10px;
}

.data-login{
    display: flex;
    gap: 10px;
    align-items: center;
}

.center{
    text-align: center;
}

.conatiner-purchase{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.h5-purchase:hover{
    cursor: pointer;
    color: blue;
}

.container-all{
    margin-top: 100px;
}

.container-carousel{
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}

@media (max-width: 1000px){
    .container-carousel{
        display: block;
}

.container-all{
    margin-top: 50px;
}

.h3-cart{
    margin-top: 30px;
    text-align: center;
}

.li-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

}

.carousel{
    width: 500px;
    height: 400px;
    padding: 20px;
}

.btn-add-cart{
    display: flex;
    align-items: center;
}

.container-btn-add-cart{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rate{
    display: flex;
    flex-direction: column;
}

.img-similar{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 20px;
}

.grup-similar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
}


